{% block fulltitle %}Contact me!{% block title %}{% endblock %}{% endblock %}

{% block header %}
<h3> header, of course</h3>
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content-wrap %}
        <div id="contact_wrap">

        <div id="contact" class="clearfix">
            <div id="c_form">
                <br /><br />
                <form name="theform" action="." method="post" id="theform">{% csrf_token %}
                    <div id="subject_sender">
                        <label id="id_subject">Subject:</label>
                        <input type="text" name="subject" value="" id="Subject" />
                        <label id="id_sender">Sender email:</label>
                        <input type="text" name="sender" value="" id="Sender" />
                    </div>

                    <div id="message">
                        <label id="id_message">Message:</label>
                        <textarea name="message" rows="8" cols="44"></textarea>
                    </div>

                    <div id="submit">
                        <input type="submit" onclick="YY_checkform('theform','name','#q','0','Field \'name\' is empty.','Email','#S','2','Field \'Email\' appears not to be valid.','message','2','1','Field \'message\' is empty.');return document.MM_returnValue" />
                    </div>

                    <input class="hidden" type="hidden" name="cc_to_myself" value="1" id="CC_to_myself" />
                </form>

            </div><!-- end c_form -->
        </div><!-- end contact -->

    </div><!-- end contact_wrap -->

{% endblock %}
